<div class="progress">
  <table class="progress">
    <thead>
    <tr>
      <th class="progress"><%= image_tag '1-start-session-with-patient.png', class: "progress-1" %></th>
      <th class="progress"><%= image_tag '2-create-note-for-session.png', class: "progress-2" %></th>
      <th class="progress"><%= image_tag '3-run-trial-testing.png', class: "progress-3" %></th>
    </tr>
    <tr>
      <td class="progress">Step 1</td>
      <td class="progress">Step 2</td>
      <td class="progress">Step 3</td>
    </tr>
    </thead>
  </table>
</div>
